<?xml version="1.0" encoding="utf-8"?>
<configuration>
  	
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime maxRequestLength="65536000" />
		<customErrors mode="Off" />
	</system.web>
	<system.serviceModel>

      
      
    <bindings>
      <basicHttpBinding>
        <binding name="myBasicBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />             
        </binding>    
			</basicHttpBinding>
			<webHttpBinding>
				<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
			</webHttpBinding>
		</bindings>

    <services>
			<service name="DriveServiceLibrary.Drive" behaviorConfiguration="ServiceBehavior">
				<!-- Service Endpoints -->
				<endpoint address="" binding="basicHttpBinding" contract="DriveServiceLibrary.IDriveService" bindingConfiguration="myBasicBinding"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
    
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">				
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />       
          <serviceDebug includeExceptionDetailInFaults="true" />                 
        </behavior>
      </serviceBehaviors>
    </behaviors>

   
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
       
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" ></serviceHostingEnvironment> 
	</system.serviceModel>
  
  
  <connectionStrings>
    <add name="ExamDriveEntities" 
		 connectionString="metadata=res://*/DriveModel.csdl|res://*/DriveModel.ssdl|res://*/DriveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ExamDrive.mssql.somee.com;initial catalog=ExamDrive;user id=superjohn_SQLLogin_1;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
